@use '@/styles/_mixins.scss' as g;

.yearsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: 1;
}

.startYear {
  font-size: 200px;
  color: var(--color-iris-desktop);
  line-height: 160px;
  padding: 0 20px;
}

.endYear {
  font-size: 200px;
  color: var(--color-fuschia);
  line-height: 160px;
  padding: 0 20px;
}

@media (min-width: g.$breakpoint-mobile) and (max-width: g.$breakpoint-tablet) {
  .startYear,
  .endYear {
    font-size: 80px;
    line-height: 72px;
  }
}

@media (max-width: g.$breakpoint-mobile) {
  .yearsContainer {
    gap: 25px;
  }

  .startYear,
  .endYear {
    font-size: 56px;
    line-height: 72px;
    padding: 0;
    gap: 15px;
  }

  .startYear {
    color: var(--color-iris-mobile);
  }
}
