:root {
  --color-background-light: #f4f5f9;
  --color-text-dark: #42567a;
  --color-border-light: #e1e5ec;
  --color-border-medium: #c7cdd9;
  --color-iris-desktop: #5d5fef;
  --color-iris-mobile: #3877ee;
  --color-fuschia: #ef5da8;
  --color-white: #ffffff;
}
