@use '../../styles/_mixins.scss' as g;

.eventListContainer {
  width: 100%;
  overflow-x: hidden;
}

.eventList {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.eventItem {
  display: flex;
  flex-direction: column;
  min-height: 135px;
  gap: 15px;
  flex: 0 0 350px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 5px;

  span {
    font-size: 25px;
    font-family: var(--font-bebas-neue), serif;
    color: #3877ee;
    line-height: 120%;
  }

  p {
    font-size: 20px;
    line-height: 30px;
  }
}

.noEvents {
  text-align: center;
  color: #999;
  padding: 40px 0;
}

@media (max-width: g.$breakpoint-mobile) {
  .eventItem {
    max-width: 166px;
    flex: 0 0 280px;
    span {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
}
