@use '@/styles/_mixins.scss' as g;

.timelineContainer {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  padding-top: 170px;
  border-left: 1px solid #e1e5ec;
  border-right: 1px solid #e1e5ec;
  gap: 93px;
  overflow: hidden;

  // vertical line
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #e1e5ec;
    transform: translateX(-50%);
  }

  // horizontal line
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 480px;
    height: 1px;
    background-color: #e1e5ec;
  }
}

.title {
  font-size: 56px;
  font-weight: bold;
  max-width: 353px;
  padding-left: 78px;
  line-height: 110%;
  border-left: 4.5px solid;
  border-image: linear-gradient(to bottom, rgb(56, 118, 237), rgb(239, 92, 167))
    1;
}

.divider {
  display: none;
}

@media (max-width: g.$breakpoint-mobile) {
  .timelineContainer {
    // vertical line
    &::before {
      display: none;
    }
    // horizontal line
    &::after {
      display: none;
    }
  }

  .title {
    font-size: 20px;
    max-width: 123px;
    padding-left: 20px;
    border-left: none;
  }

  .divider {
    display: block;
  }
}
